<style>
@charset "utf-8";
/* CSS Document */
html{
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	font-weight: normal;
}

div,p,img,
ul,ol,li, 
dl,dt,dd, 
table,th,td, 
form {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	vertical-align: top;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
/*---------------- 页面部分 ----------------*/
/* 内容部分 */
body {
	font: 12px/18px simsun, Arial, Helvetica, sans-serif;
	overflow: hidden;
}
.wrap {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.box01 {
	background: url('images/web_game/bg_start.png') no-repeat;
	background-size: 100% ; 
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.box01 .cont {
	position: absolute;
	top: 75%;
	width: 100%;
	text-align: center;
	z-index: 1;
}


.box01 .btn {
	background: url('images/web_game/start_spe.png') no-repeat;
	background-size: 100% auto;
	height: 74px;
	width:132px;
	margin: 15px auto 0;
}

.box02 {
	/*background-size: 100% auto;*/
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.box02 .picture_body{
	width:100%
}
.box02 .question {
	margin: 0 auto;
	padding-left:0.55rem;
	margin-top:0.48rem;
	margin-bottom:0.2rem;
}
.box02 .question #question{
	margin: auto auto;
	color:white;
	font-size: 0.36rem;
	font-family: "微软雅黑";
	line-height: 30px;
}

<!-- .box02 .time { -->
	<!-- padding: 0 25px; -->
	<!-- text-align: center; -->
	<!-- font-size: 1.8em; -->
	<!-- font-family: "微软雅黑"; -->
	<!-- height: 50px; -->
	<!-- line-height: 50px; -->
	<!-- overflow: hidden; -->
<!-- } -->

<!-- .box02 .time span { -->
	<!-- color: #ffffff; -->
	<!-- font-size: 2em; -->
<!-- } -->

.box02 .answer {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.box02 .answer ul{
	margin-left: 0.55rem;
	height: 100%;
	width: 90%;
	text-align: center;
}

.box02 .answer li {
	background-size: 100% auto;
	height: 100%;
	width: 95%;
	font-size: 0.4rem;
	float: left;
	line-height: 170%;
	text-align: left;
	margin-bottom:0.24rem;
	color:white;
	font-family:"微软雅黑";
}

.box02 #tips{
	position: absolute;
	bottom: 30%;
	margin:0 auto;
	width:100%;
	font-size: 1.6em;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 30px;
}

.box03 {
	background: url('images/web_game/back.png') no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.box03 .cont {
	position: absolute;
	top:25%;
	width: 100%;
	z-index: 1;
}

<!-- .box03 .result{
	height: auto;
	width: 100%;
	margin: 20px auto 0;
} 

.box03 .result .text {
	text-align: center;
	font-size: 1.6em;
	font-family: "微软雅黑";
	line-height: 1em;
	margin: 20px auto 0;
	width: 80%;
}

.box03 .result .text span {
	color: #ffffff;
	font-size: 1.6em;
	font-family: "微软雅黑";
} -->



.box03 .bcot {
	text-align: center;
	color: #000;
	font-size: 1.4em;
	font-family: "微软雅黑";
	line-height: 40px;
	width: 100%;
	margin-top: 97%;
}

.box03 .bcot .btn01 {
	background: url('images/web_game/BUTTON5.png') no-repeat;
	background-size: 100% auto;
	height:1.46rem;
	width: 1.46rem;
	display: inline-block;
}

.box03 .bcot .btn02 {
	background: url('images/web_game/BUTTON6.png') no-repeat;
	background-size: 100% auto;
	height: 1.46rem;
	width:1.46rem;
	display: inline-block;
	margin-left:0.8rem;
	margin-right:0.8rem
}

.box03 .bcot .btn03 {
	background: url('images/web_game/BUTTON7.png') no-repeat;
	background-size: 100% auto;
	height:1.46rem;
	width: 1.46rem;
	display: inline-block;
}

/* .box03 .bcot a.btn02 {
	margin-top: 6px;
} */

.banner {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: auto;
    z-index: 1;
}

.audio_div{
	animation:myfirst 2s linear infinite;
	-moz-animation:myfirst 2s linear infinite; /* Firefox */
	-webkit-animation:myfirst 2s linear infinite; /* Safari and Chrome */
	-o-animation:myfirst 2s linear infinite; /* Opera */
}
.audio_div1{
	animation:myfirst 2s linear infinite;
	-moz-animation:myfirst 2s linear infinite; /* Firefox */
	-webkit-animation:myfirst 2s linear infinite; /* Safari and Chrome */
	-o-animation:myfirst 2s linear infinite; /* Opera */
}
@keyframes myfirst
{
　0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
　0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
　0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

@-o-keyframes myfirst /* Opera */
{
　0%{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}

</style>