/* Android ICS skin */
.jqm .dw {
    padding: 0;
    color: #FF5464;
    background: #292829;
    font-size: 17px;
    font-family: "微软雅黑";
}

.jqm .dw .dwwc,
.jqm .dw .dwwl,
.jqm .dw .dww,
.jqm .dw .dwb,
.jqm .dw .dwpm .dww {
    background: none;
}
.jqm .dwwr {
    padding: 0;
}
.jqm .dwc {
    margin: 0;
    padding: 30px 10px 1px 10px;
}
.jqm .dwhl {
    padding: 1px 10px;
}
.jqm .dwv {
    height: 36px;
    line-height: 36px;
    padding: 0;
    border-bottom: 1px solid #999;
    font-size: 16px;
    color:#999;
}
.jqm .dwwl {
    margin: 0 2px;
}
.jqm .dww,
.jqm .dw .dwpm .dwwl,
.jqm .dw .dwpm .dww {
    border: 0;
}
.jqm .dww .dw-li {
    color: #fff;
    font-size: 18px;
    text-shadow: none;
}
.jqm .dww .dw-li.dw-hl {
    background: #31b6e7;
    background: rgba(49,182,231,.5);
}
.jqm .dwwo {
    background: linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#282828),color-stop(0.52, rgba(40,40,40,0)),color-stop(0.48, rgba(40,40,40,0)),to(#282828));
    background: -moz-linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
    background: -o-linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
}
.jqm .dw .dwwb {
    background: #292829;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.jqm .dwwb span {
    display: none;
}
.jqm .dwwb:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    color: #7e7e7e;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    content: '';
}
.jqm .dwwbm {
    top: 0;
    bottom: auto;
}
.jqm .dwwbp {
    bottom: 0;
    top: auto;
}
.jqm .dwwbm:after {
    border-color: transparent transparent #7e7e7e transparent;
}
.jqm .dwwbp:after {
    border-color: #7e7e7e transparent transparent transparent;
}
.jqm .dw .dwwl .dwb-a {
    background: #292829;
}
.jqm .dwwbm.dwb-a:after {
    border-color: transparent transparent #319abd transparent;
}
.jqm .dwwbp.dwb-a:after {
    border-color: #319abd transparent transparent transparent;
}
.jqm .dw .dwwol {
    width: 60%;
    left: 20%;
    height: 36px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: -20px;
    display: block;
}
.jqm .dwbc {
    border-top: 1px solid #424542;
    padding: 0;
}
.jqm .dw .dwb {
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}
.jqm .dw .dwb-a {
    background: #29799c;
}
.jqm .dwb-s .dwb, .jqm .dwb-n .dwb {
    border-right: 1px solid #424542;
}
/* Docked */
.jqm.dw-bottom .dw, .jqm.dw-top .dw {
    border-radius: 0;
    -webkit-border-radius: 0;
}
/* Multiple select */
.jqm .dwwms .dwwol {
    display: none;
}
.jqm .dwwms .dw-li {
    padding-left: 5px;
    padding-right: 36px;
}
.jqm .dwwms .dw-li:after {
    content: '';
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    color: #31b6e7;
    line-height: 14px;
    border: 1px solid #424542;
    text-shadow: 0 0 5px #29799c;
}
.jqm .dwwms .dw-msel:after {
    content: '✔';
}
/* Light version */
.jqm .dw {
    background: #f5f5f5;
}
.jqm .dww .dw-li {
    color: #000;
}
.jqm .dwwo {
    background: linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#f5f5f5),color-stop(0.52, rgba(245,245,245,0)),color-stop(0.48, rgba(245,245,245,0)),to(#f5f5f5));
    background: -moz-linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
    background: -o-linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
}
.jqm .dw .dwwb {
    background: #f5f5f5;
    color: #f5f5f5;
}
.jqm .dwbc {
    border-top: 1px solid #dbdbdb;
}
.jqm .dwb {
    color: #999;
    font-family: "微软雅黑";
    font-size: 18px;
}
.jqm .dwb-s .dwb{
	color:#ff5464
}
.jqm .dwb-a {
    color: #fff;
}
.jqm .dwb-s .dwb, .jqm .dwb-n .dwb {
    border-right: 1px solid #dbdbdb;
}
/* Bubble positioning */
.jqm .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #292829 transparent;
}
.jqm .dw-bubble-top .dw-arr {
    border-color: #292829 transparent transparent transparent;
}
/* Bubble positioning */
.jqm .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #f5f5f5 transparent;
}
.jqm .dw-bubble-top .dw-arr {
    border-color: #f5f5f5 transparent transparent transparent;
}
/* Multiple select */
.jqm .dwwms .dw-li:after {
    text-shadow: 0 0 5px #31b6e7;
}
